<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_5ECharacterBuilder.Properties.Settings.CharacterBuilderDBConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\CharacterBuilderDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="_5ECharacterBuilder.Properties.Settings.CharacterBuilderConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=D:\Home\Documents\GitHub\my5ECharacterBuilder\5ECharacterBuilder\5ECharacterBuilder\CharacterBuilderDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>