@using PerpetuumSoft.Knockout
@model KnockoutWithContext<MvcFrontEnd.Models.Ability>

<div>
    @Model.Html.Span(m => m.Name)
    @Model.Html.TextBox(m => m.Score)
    @Model.Html.Span(m => m.Score)
    @Model.Html.Span(m => m.Modifier)
</div>