<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CharacterBuilderDataBase.Properties.Settings.CharacterBuilderConnectionString1"
            connectionString="Data Source=W7-2014-DEV02\MSSQLSERVER2012;Initial Catalog=CharacterBuilder;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CharacterBuilderDataBase.Properties.Settings.CharacterBuilderDBConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\CharacterBuilderDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>